
My Dictionary.xcodeproj/project.xcworkspace/xcuserdata/phithai.xcuserdatad/UserInterfaceState.xcuserstate
My Dictionary.xcodeproj/project.xcworkspace/xcuserdata/phithai.xcuserdatad/UserInterfaceState.xcuserstate
